.forgotStyle{
    padding-top: 20vh;
    display: flex;
      text-align: center;
      gap: 20px;
      min-height: 100vh;
      font-family: 'Nunito';
      background-image: url("/images/background.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      flex-direction: column;
      align-items: center;
}
.forgotStyle p{
    font-weight: 300;
}

.form{
    margin: 0;
}
.input{
    font-family: 'Nunito';
    height: 40px;
    width: 353px;
    border: 1px solid #fcbd8a;
    margin-top: 10px;
    background-color:aliceblue;
    padding-left: 32px;
    border-radius: 5px;
}
.inputcontainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 2vh;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
.h1{
    font-weight: 700;
    font-size: 2.5rem;
}