.form{
    margin-bottom: 300px;
}
.input{
    font-family: 'Nunito';
    height: 40px;
    width: 353px;
    border: 1px solid #fcbd8a;
    margin-top: 10px;
    background-color:aliceblue;
    padding-left: 32px;
    border-radius: 5px;
}
.inputcontainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}