.password-toggle-icon{
  display:flex;
  position: inherit;
  z-index: 100;
  cursor: pointer;
}

.loginform {
    padding-top: 100px;
    display: flex;
      text-align: center;
      justify-content: center;
      gap: 20px;
      min-height: 100vh;
      font-family: 'Nunito';
      background-image: url("/public/background.png");
      background-repeat: no-repeat;
      background-position: center;
      flex-direction: column;
    }
    
    .input{
      font-family: 'Nunito';
      height: 40px;
      width: 353px;
      border: 1px solid #fcbd8a;
      margin-top: 10px;
      background-color:aliceblue;
      padding-left: 32px;
      border-radius: 5px;
    }
    .formcontrol{
      width: 353px;
      height: 40px;
      border:#fcbd8a;
      border-radius: 10px;
      font-size:14pt;
      line-height: 1.4;
      padding-left: 32px; 
    }
    .form{
      margin-bottom: 300px;
  }
    
    .buttoncontainer {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      margin-top: 40px;
    }
    .checkboxcontainer{
      font-size: 14px;
      margin-top: 0px;
      margin-bottom: 109px;
      display: flex;
      align-items: baseline;
      justify-content: center;
    }
  
    .checkboxcontainer p{
      color: #826ac5;
      align-content: space-between;
    }
    .h2{
      color: #826ac5;
    }
   
    .list-container {
      display: flex;
    }
    
    .error {
      color: red;
      font-size: 12px;
    }
    
    .title1 {
      display:flex;
      text-align: center;
      justify-content: center;
      font-size: 70px;
      height: 80px;
      font-family: "Nunito";
      font-weight: 900;
      margin-top: 50px;
      margin-bottom: 40px;
      color: #444444;
    }
    
    .inputcontainer {

    }

    .link{
      color: var(--purple);
    }
    .link:hover{
      color: #999999;
    }
