.container{
  font-family: 'Nunito';

}

.feedFooter{
  display: flex;
  justify-content: right;
  position: fixed;
  bottom: 0;
  width: 100%;

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 1356c79f4a781d874602b6d2a6fcb959bbabfa14
        /* padding-top: 20vh;
        display: flex;
          text-align: center;
          gap: 20px;
          min-height: 100vh;
          font-family: 'Nunito';
          background-image: url("/images/background.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          flex-direction: column;
          align-items: center; */
<<<<<<< HEAD
=======
=======
>>>>>>> e2dc2da479d2789ec1d39881a4cbc80f722f1e09
>>>>>>> 1356c79f4a781d874602b6d2a6fcb959bbabfa14
}