*{
    margin:0;
    padding:0;
}

body{
    font-family: "Nunito", sans-serif;
    margin: 0px;
    background-image: url(./Images/Gradient\ background.png);
    background-repeat: no-repeat;
    background-size: auto;

}
.container {
    text-align: center;
    display: block;

    
}

::placeholder{
    font-family: "Nunito", sans-serif;
}
:focus::placeholder {
    color: transparent;
  }

.container span{
    display: block;
    margin-top:1em;
    margin-bottom: 0.5em; 
}

.error{
color:blue;
border-color: blue;
}

.button {
    background-color: #FCBD8A;
    height: 40px;
    width: 160px;
    border: none;
    border-radius: 20px;
    color: #444444;
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    filter:drop-shadow(0px 4px 2px #999);
    margin: 1.5rem;
  }
  
.button:hover {
    background-color: #F1A15F;
    filter:drop-shadow(0px 5px 3px #999);
  }

.button:active {
    background-color: #FAEDE6;
    filter:drop-shadow(0px 2px 2px #999);
}

#btnArrowUp {
    background-color: #F59467;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 40px;
    background-image: url(./Images/Arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    cursor: pointer;
    filter:drop-shadow(0px 4px 2px #999);
    z-index: 99;
    bottom:1rem;
    position: fixed;
}
#btnArrowUp:hover {
    background-color: #DB794E;
  }

#btnArrowUp:active {
    background-color: #FAEDE6;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
#footer {
    background-image: url(/footer\ bg.png);
=======
#mainFooter {
    background-image: url(./Images/footer\ bg.png);
>>>>>>> origin/nina
    width: 100%;
    height: 30%;
    background-size: 100% 100%;
    position: fixed;
    bottom: 0;
<<<<<<< HEAD
    
}
>>>>>>> origin/nina
=======
    z-index: -1;
}

#socialFooter{
    height:100px;
    position:right;
}

#facebookLogo{
    background-image: url(/Images/facebook\ icon.png);
    background-repeat: no-repeat;
    width: 50px;
}

#instagramLogo{
    background-image: url(/Images/instagram\ icon.png);
    background-repeat: no-repeat;
    width: 50px;
}

#emailLogo{
    background-image: url(/Images/email\ icon.png);
    background-repeat: no-repeat;
    width: 50px;
}
>>>>>>> origin/nina
