
.footerSection{
    z-index: 0;
    display: flex;
    background-image: url('/images/footerbg.png');
    background-size: 100% 100%;
    width: 100%;
    min-height: 30vh;
    bottom: 0;
    align-items: flex-end;
    position: absolute;
    justify-content: space-between;
  }

  .footerSection p{
    margin-left: 2px;
    font-size: 10px;
    float: right;
  }

.wemeLogo{
  display: flex;
  padding: 1rem;
}

  .socialFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1vh;
    padding: 1rem;
    flex-wrap: nowrap;
    align-content: space-around;
  }

  .facebookLogo img{
    display: flex;
    width: 50px;
    }

  .instagramLogo img{
    display: flex;
    width: 50px;
  }

  .emailLogo img{
    display: flex;
    width: 50px;
  }

  .socialMediaText{
    text-transform: uppercase;
    font-weight: 900;
    line-break: auto;
  }
