
.footerSection{
    display: flex;
    background-image: url('/images/footerbg.png');
    background-size: 100% 100%;
    width: 100%;
    min-height: 40vh;
    bottom: 0;
    align-items: flex-end;
    position: absolute;
    justify-content: space-between;
  }

.wemeLogo{
  display: flex;
  padding: 1rem;
}

  .socialFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
    bottom:0;
    font-weight: bold;
    font-size: 1vh;
    padding: 1rem;
  }

  .facebookLogo img{
    display: flex;
    background-repeat: no-repeat;
    width: 50px;
  }

  .instagramLogo img{
    display: flex;
    background-repeat: no-repeat;
    width: 50px;
  }

  .emailLogo img{
    display: flex;
    background-repeat: no-repeat;
    width: 50px;
  }