.li{
    list-style: none;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    justify-content: baseline;
    align-items: center;
    color: #374146;
}

.li img{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}

.active{
    color: #000000;
    font-weight: 900;
    text-decoration-color: #826AC5;
    text-decoration-line: underline;
}
@media screen and (max-width: 1400px) {
    .li{
        font-weight: 700;
        font-size: 1rem;
    }
    .left{
        padding: 0px;
    }
    }