.hr{
    height: 0px;
    background: transparent;
    border-bottom:1px solid rgb(209, 209, 209);
    width: 90%;
    border-top: 0px;
    border-left: 0px;
}
.popup{
    position: fixed;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    width: 40rem;
    height: 29.813rem;
    
    
}
.postpopcontainer{
    position: relative;
    width: 40rem;
    height: 29.813rem;
    background: #FFF9F3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 0.625rem;
    filter: drop-shadow(0px 4px 0px rgba(251, 189, 139, 0.25));
    margin-left: 0px;
    margin-top: 0px;
    z-index: 10;
    box-shadow: 0px 0px 5px 10px rgb(254, 249, 242);
}
.topheader{
    display: flex;
    justify-content: center;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 2.188rem;
    margin-bottom: 1.063rem;
}

.usercontainer{
    display: flex;
    align-items: center;
    margin-top: 1.25rem;
}
.photowrap{
    width: 15%;
    display: flex;
    justify-content: center;
}
.photo{
    width: 3.313rem;
    height: 3.313rem;
    border-radius: 50%;
}
.namewrap{
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 1.25rem;
}
.inputcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.textbox1wrap{
    display: flex;
    width: 100%;
}
.textbox2wrap{
    margin-top: 1.875rem;
}
.textbox1{
    width: 21.125rem;
    border-style: none;
    background-color: #FFF9F3;
    padding-left: 1.563rem;
    margin-bottom: 5rem;
    outline: none;
}
.textbox2{
    width:36.625rem;
    height: 2.625rem;
    margin-bottom: 1.438rem;
    border-radius: 0.625rem;
    border-style: none;
    outline: none;
}
.postchoicecontainer{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.button{
    padding-left: 1.563rem;
}
.question{
    margin-right: 0.313rem;
}
.picture{
    margin-right: 0.313rem;
}
.video{
    margin-right: 0.313rem;
}
.insertdoc{
    margin-right: 0.313rem;
}
.menu{
    margin-right: 0.625rem;
}

.insertButton{
    border: none;
    background: none;
}