.postcontainer{
    width: 85%;
    height: auto;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px;
    margin-bottom: 10px; 
    font-family: 'Nunito';
    z-index: 9;
    position: relative;
}
.popup{
    z-index: 11;
}
.infocontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 30%;
    margin-top: 30px;
    padding-left: 30px;
    z-index: 9;
    justify-content: space-between;

}
.photowrap{
    display: flex;
    justify-content: center;
}
.photo img{
    width: 53px;
    height: 53px;
    border-radius: 50%;
}
.nameAndTitle{
    display: flex;
    flex-direction: column;
}
.jobtitle{
    margin-left:40px;
    font-size: small;
}
.namewrap{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
}
.buttonfollow{
    cursor: pointer;
    margin-right: 10px;
}
.textcontainer{
    display: flex;
    flex-direction: column;
    height: 70%;
    margin-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.textboxwrap{
    margin-bottom: 1.5rem;
}

.tags{
        width:fit-content;
        height: 2.625rem;
        margin-bottom: 1.438rem;
        border-radius: 0.625rem;
        border-style: none;
        outline: none;
        background: #FFFFFF;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color:#826AC5;
}

.hr{
    height: 0px;
    background:transparent;
    border-bottom:1px solid rgb(209, 209, 209);
    width: 90%;
    border-top: 0px;
    border-left: 0px;
}

.woman{
    border-radius: 50%;
    filter: drop-shadow(0px 5px 2px rgb(172, 172, 172));
}
.comment{
    margin-right: 10px;
}
.like{
    margin-right: 10px;
}
.share{
    margin-right: 10px;
}
.save{
    margin-right: 10px;
}
.save img{
    width: 40%;
    height: 40%;
}

.interactContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
        flex-wrap:nowrap;
        width: 100%;
        height: 20%;
    
}


.interactbutton{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    border: none;
    background: none;
    color: #374146;
    cursor: pointer;
}

.m{
    height: 32px;
    width: 32px;
    margin-left: 5px;
    text-align: center;
    padding-top: 3px;
    background-image: url('/images/favicon.ico');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.optionsbutton{
    display: flex;
    width: relative;
    border:none;
    background:none;
    cursor: pointer;

}

.optionsbutton img{
    display: flex;
}

.rightwrap{
    display: flex;
    padding-right: 1.5rem;
    justify-content: flex-end;
}

.dropdown {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 1rem;
    position:absolute;
    justify-content: flex-start;
}


  .liButton {
    list-style: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #374146;
    display: flex;
    border:none;
    background: none;
    justify-items: center;

  }

  .liButton img{
      display: flex;
      align-self: center;
      margin-right:1rem;
  }

  .liButton:hover{
    font-weight: 600;
    cursor: pointer;
  }

  .dropdown img{
    display: flex;
    align-self: flex-end;   
    margin-bottom: 1rem;
    cursor: pointer;
  }
