.hr{
    height: 0px;
    background: transparent;
    border-bottom:1px solid rgb(209, 209, 209);
    width: 90%;
    border-top: 0px;
    border-left: 0px;
}
.popup{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    z-index: 10;
    
    
}
.postpopcontainer{
    width: 40rem;
    height: 35rem;
    background: #FFF9F3;
    display: flex;
    flex-direction: column;
    border-radius: 0.625rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}
.topheader{
    display: flex;
    justify-content: flex-end;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 1.25rem;

}

.header{
    display: flex;
    justify-content: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 1rem;
    
}

.usercontainer{
    display: flex;
    align-items: center;
    margin-top: 1.25rem;
}
.photowrap{
    width: 15%;
    display: flex;
    justify-content: center;
}
.photo img{
    width: 3.313rem;
    height: 3.313rem;
    border-radius: 50%;
}
.namewrap{
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 1.25rem;
}
.inputcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.textbox1wrap{
    display: flex;
    width: 100%;
}
.textbox2wrap{
    margin-top: 1.875rem;
}
.textbox1{
    width: 100%;
    border-style: none;
    background-color: #FFF9F3;
    padding-left: 1.563rem;
    margin-bottom: 5rem;
    outline: none;
    font-family: 'Nunito';
    font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 32px;
}
.textbox2{
    width:36.625rem;
    height: 2.625rem;
    margin-bottom: 1.438rem;
    border-radius: 0.625rem;
    border-style: none;
    outline: none;
    background-color: #FFF9F3;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:#826AC5;

}

.textbox2 ::placeholder{
color:#826AC5;

}

.postchoicecontainer{
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}
.button{
    padding-left: 1.563rem;
}
.question{
    margin-right: 0.313rem;
}
.picture{
    margin-right: 0.313rem;
}
.video{
    margin-right: 0.313rem;
}
.insertdoc{
    margin-right: 0.313rem;
}


.insertButton{
    border: none;
    background: none;
}

