.password-toggle-icon{
  display:flex;
  position: inherit;
  z-index: 100;
  cursor: pointer;
}

.loginform {
  padding-top: 10vh;
  display: flex;
    text-align: center;
    gap: 20px;
    min-height: 100vh;
    font-family: 'Nunito';
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2.5rem; 
    }
    
.loginform p{
  font-weight: 300;
  margin: 2rem;
  display: flex;
}

.fatPurpleP{
  font-weight: 700;
  margin:1rem;
}

    #input{
      font-family: 'Nunito';
      height: 40px;
      width: 353px;
      border: 1px solid #fcbd8a;
      background-color:aliceblue;
      padding-left: 32px;
      border-radius: 5px;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .formcontrol{
      font-family: 'Nunito';
      height: 40px;
      width: 353px;
      border: 1px solid #fcbd8a;
      margin-top: 10px;
      background-color:aliceblue;
      padding-left: 32px;
      border-radius: 5px;
    }
    .form{
      margin-bottom:0px;
  }
    
    .buttoncontainer {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
    }
    .checkboxcontainer{
      font-size: 14px;
      margin-top: 0px;
      margin-bottom: 109px;
      display: flex;
      align-items: baseline;
      justify-content: center;
    }
  
    .checkboxcontainer p{
      margin-left: 120px;
      color: #826ac5;
    }
    .h2{
      color: #826ac5;
    }
   
    .list-container {
      display: flex;
    }
    
    .error {
      color: red;
      font-size: 12px;
    }
    
    .title1 {
      display:flex;
      text-align: center;
      font-size: 50px;
      height: 80px;
      font-family: "Nunito";
      font-weight: 900;
      margin-top: 50px;
      margin-bottom: 40px;
      color: #444444;
    }
    
    .inputcontainer {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin: 10px;

      
    }

    .link{
      color: var(--purple)
    }
    .link:hover{
      color: #999999;
    }

.box{
  display:flex;
  margin-bottom: 2rem;
  justify-content: center;
}

.mentee{
 width: 239px;
  height: 307px;
  left: 736px;
  top: 302px;
  background: #FFF9F3;
  border: 5px solid #F59467;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 3rem;
  padding: 1rem;
}

.menteeLogo{
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-image: url("/images/mentee.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  font-weight: 700;
  font-size: 1.5em;
  padding-top: 0.25em;
}

.mentor{
  width: 239px;
  height: 307px;
  left: 736px;
  top: 302px;
  background: #FFF9F3;
  border: 5px solid #F59467;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 3rem;
  padding: 1rem;
}

.mentorLogo{
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-image: url("/images/mentor.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  font-weight: 700;
  font-size: 1.5em;
  padding-top: 0.25em;
}