.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between center;
    align-items: center;
    height: 120px;
}
.content{
    display: flex;
    flex-direction: row;
}
.left{
    width: 25%;
}
.center{
    display: flex;
    flex-direction:column;
    width: 50%;
}
.right{
    width: 25%;
}
.firstinput{
    margin-bottom: 300px;
    position: absolute;
    z-index: 10;
    
}
.feed{
    z-index: 8;
}
.posts{
    padding-top: 12rem;
    padding-bottom: 16rem;
    z-index:7;
}


.feedFooter{
    display: flex;
    justify-content: right;
    position: fixed;
    bottom: 0;
    width: 100%;

}

.feedBtnArrowUp{
    margin-bottom: 20vh;
    margin-right: 10vh;
}
    