.feedPage{
    display: flex;
    flex-direction: column;
    background-color: #F9F3FF;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between center;
    align-items: center;
    height: 120px;
}
.content{
    display: flex;
    flex-direction: row;
    position:relative;
}
.left{
    width: 25%;
    
}
.leftlogo{
    width: 25%;
    padding: 30px;
}
.center{
    margin-top: 2rem;
    display: flex;
    flex-direction:column;
    width: 50%;
    }
.right{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: right;
    padding-right: 40px;
}
.profilefeed{
    z-index: 12;
}
.tagbar{
    display: flex;
}
.firstinput{
    z-index: 11;   
}

.posts{
    padding-bottom: 16rem;
}
.post{
    z-index: 10;
    height: auto;
}

.tagFeedButtons{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 89px;
    height: 34px;
}
.tagFeedButton{
    z-index: 10;
    position: relative;
    height: auto;
    background: #F2E5FF;
    border: 1px solid #EDECEC;
    border-radius: 20px;
    padding: 6px 14px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #374146;
}
.tagFeedButtonAll{
    z-index: 10;
    position: relative;
    height: auto;
    background: #826AC5;
    border: 1px solid #EDECEC;
    border-radius: 20px;
    padding: 6px 14px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.feedFooter{
    display: flex;
    justify-content: right;
    position: absolute;
    bottom: 0;
    width: 100%;    
}

.feedBtnArrowUp{
    margin-bottom: 20vh;
    margin-right: 10vh;
}
    