.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between center;
    align-items: center;
    height: 120px;
}
.content{
    display: flex;
    flex-direction: row;
}
.left{
    width: 25%;
}
.center{
    display: flex;
    flex-direction:column;
    width: 50%;
}
.right{
    width: 25%;
}
.firstinput{
    margin-bottom: 300px;
    position: absolute;
    z-index: 10;
    
}
.posts{
    padding-top: 200px;
}
    