.container {
    padding-top: 20vh;
    display: flex;
      gap: 20px;
      min-height: 100vh;
      font-family: 'Nunito';
      background-image: url("/images/background.png");
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
      flex-direction: column;
      align-items: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
